@import url(transition.css);
@import url(font.css);
@import url(style.css);
@import url(colors.css);

@tailwind base;

:focus-visible {
    outline: unset !important;
}

:root {
    --tw-text-opacity: 1;
    --padding-card: 1.5rem;
    --navbar-padding: 0;
}

:root {
    overflow: initial !important; /* fix tailwind modal covers scrollbar */
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 768px;
    min-height: 320px;
    margin: 0 auto;
    padding: 1rem;
}

@layer base {
    body,
    blockquote,
    input,
    textarea,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
        margin: 0;
        box-sizing: border-box;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: xx-large;
        font-weight: bold;
        margin: 1rem 0;
        text-align: center;
    }

    h2 {
        font-size: x-large;
        font-weight: bold;
        margin: 1rem 0;
    }

    a {
        @apply text-base-content no-underline;
    }

    article p {
        text-indent: 2em;
    }

    *,
    ::before,
    ::after {
        border-width: 0;
        border-style: solid;
        /*noinspection CssInvalidFunction*/
        border-color: theme('borderColor.DEFAULT', currentColor);
    }
}

.input:focus {
    outline: 0;
}

.btn-icon {
    @apply cursor-pointer hover:text-teal-500
}

.btn-fixed {
    @apply fixed bottom-4 right-4 lg:bottom-8 lg:right-8 xl:right-12
}

.prose {
    @apply max-w-full
}

.modal-box {
    @apply no-scrollbar
}

.fold-content {
    transition: all 0.3s;
    opacity: 0;
    max-height: 0;
    margin: 0;
}

.fold:focus .fold-content {
    opacity: 1;
    max-height: 3rem;
    margin-top: 0.5rem;
}

.collapse {
    border-radius: unset;
}

.collapse-title, :where(.collapse > input[type="checkbox"]), :where(.collapse > input[type="radio"]) {
    min-height: unset;
    padding: 0;
}

.collapse-content {
    padding: 0;
}

.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content) {
    padding-bottom: 0;
}

.h-screen {
    height: 100dvh;
}

.snap-mandatory {
    -webkit-overflow-scrolling: touch;
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/*for tablet, sm=640px, lg=1024px*/
@media (min-width: 640px) and (max-width: 1024px) {
    html, .h-screen { /* Firefox */
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #f3f3f3;
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(230, 230, 230);
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(200, 200, 200);
    }

    ::-webkit-scrollbar-corner {
        background: rgb(200, 200, 200);
    }
}

@media (max-width: 640px) {
    html, .h-screen { /* Firefox */
        scrollbar-width: thin;
    }
}